<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Logout</title>
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/info.js') }}"></script>
        <script>
            var rq=new XMLHttpRequest();
            rq.onreadystatechange=function () {
                if (this.readyState==4) {
                    localStorage.removeItem("user_token");
                    window.location.replace("/");
                }
            };
            rq.open("DELETE",`${api_domain}/auth/login`,true);
            rq.setRequestHeader("Content-Type","application/json");
            rq.send(JSON.stringify({
                "user_token":user_token
            }));
        </script>
    </body>
</html>