{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static' ,filename='css/auth/profile.css') }}">
{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h1 id="username"></h1>
    <h6 id="email"></h6>
    <a class="btn btn-primary" href="/auth/edit_profile">Edit Profile</a>
{% endblock %}

{% block right %}
    <img id="avatar"/>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/info.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/profile.js') }}"></script>
{% endblock %}