#header {
    background-color: black;
    position: fixed;
    height: 5%;
    z-index: 1;
    color: white;
}
#header div h6 a{
    color: white;
}
#body {
    padding-top: 5%;
    padding-bottom: 5%;
}
#footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 5%;
    z-index: 1;
    color: white;
}
#footer div h6 a{
    color: white;
}